<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ITPM_Final_Group_16</display-name>
  <welcome-file-list>
    <welcome-file>info.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>FileUploadHandler</servlet-name>
		<servlet-class>servlet.FileUploadHandler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUploadHandler</servlet-name>
		<url-pattern>/FileUploadHandler/*</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>FileUploadHandlerInheritanc</servlet-name>
		<servlet-class>servlet.FileUploadHandlerInheritanc</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUploadHandlerInheritanc</servlet-name>
		<url-pattern>/FileUploadHandlerInheritanc/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SizeUploadHandler</servlet-name>
		<servlet-class>servlet.SizeUploadHandler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SizeUploadHandler</servlet-name>
		<url-pattern>/SizeUploadHandler/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VariableUploadHandler</servlet-name>
		<servlet-class>servlet.VariableUploadHandler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VariableUploadHandler</servlet-name>
		<url-pattern>/VariableUploadHandler/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MethodsUploadHandler</servlet-name>
		<servlet-class>servlet.MethodsUploadHandler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MethodsUploadHandler</servlet-name>
		<url-pattern>/MethodsUploadHandler/*</url-pattern>
	</servlet-mapping>
</web-app>